package components

templ ErrorPage404(viteTags string) {
	@PageLayout("404 Not Found", viteTags) {
		<h1 class="text-3xl font-bold text-white mb-2">404 Not Found</h1>
		<p class="text-gray-400">This is "wheely" bad.... sorry I will show myself out lol</p>
	}
}
